body {
    margin: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.image_container {
    height: 100vh;
    width: auto;
    position: relative;
}

img {
    height: inherit;
}

.logo {
    background-color: rgb(47, 61, 93);
    color: white;
    font-size:36px;
    opacity: 75%;
    height: 96px;
    width: 100%;

    position: absolute;
    top: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.credit {
    color: white;
    width: 100%;

    position: absolute;
    bottom: 12px;

    display: flex;
    justify-content: center;
    gap: 6px;
}

a {
    color: inherit;
}

.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
}

.message {
    font-size: 48px;
}

.form_container {
    background-color: gainsboro;
}

.form_row {
    display: flex;
}

input, label {
    display:block;
}